# enable color support of ls and also add handy aliases
if [ "$TERM" != "dumb" ]; then
    eval "`dircolors -b`"
fi

LSFLAGS="-shAF --color=auto --group-directories-first"

# some more ls aliases
alias ll="ls $LSFLAGS -l"
alias ls="ls $LSFLAGS"
alias l=ls

alias ..='cd ..'
alias ...='cd ...'
alias cd_='cd "$_"'

alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

alias du='du -ch'
alias df='df -Th'
alias free='free -mt'

alias h=history
alias d=popd

alias less='less -iMNx4'
alias rless="LESSOPEN='|tac %s' less"
alias L=less

alias pack='apt-cache search'
alias inst='sudo apt-get install'

alias rain='ssh ahmetov@rain.ifmo.ru'
alias mountrain='sudo sshfs -o allow_other ahmetov@rain.ifmo.ru: rain'

alias x=startx
alias gv='gv -widgetless'

alias grep='grep -i --color'
alias G=grep

alias p='git log --graph -p'
alias d='git diff HEAD'
alias st='git st'
alias ci='git commit'
alias co='git checkout'
alias svnci='git svn dcommit'
alias svnco='git svn rebase'

alias sta=cygstart

#alias sd='F="$(sel)" && if [ -d "$F" ]; then pushd "$F"; else pushd "$(dirname "$F")"; fi'
alias gits='git diff --name-only | sel -0 | xargs -0 git'
