[color]
	ui = auto
	interactive = auto
    #diff = false
[user]
	email = Igor.Akhmetov@gmail.com
	name = Igor Akhmetov
[alias]
	co = checkout
	ci = commit
	st = status
	staged = diff --cached
	unstaged = diff
	both = diff HEAD
	oneline = log --pretty=oneline
	amend = commit --amend
	svnco = svn rebase
	svnci = svn dcommit
	graph = log --graph
[branch]
	autosetupmerge = true
[core]
	ignorecase = true
