.backup
.bash_history
.bm-repository
.emacs-places
.emacs.d
.histfile
.lesshst
.projects.ede
.recentf
.ido.last
.viminfo
.emacs.bmk
.history
.ssh
.subversion/auth
bin/google
.rc/google
emacs/google.el
