set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set input-meta on
set meta-flag on
set convert-meta off
set output-meta on

#"\M-s": menu-complete
"\M-s": "sel \n"
"\e[A": history-search-backward
"\e[B": history-search-forward
"\M-p": history-search-backward
"\M-n": history-search-forward
#Space: magic-space
