*customization: -color

Rxvt.font: xft:Terminus
Rxvt.scrollstyle: plain
Rxvt.saveLines: 100000
Rxvt.cursorBlink: true
Rxvt.reverseVideo: true
Rxvt.modifier: mod1

URxvt.perl-ext:
URxvt.perl-ext-common:
